/* CSS styles for Turku Event Hub */

/* Font colour */
body {
    color: #442900 !important;
}

.btn-light {
    color: #442900;
    background-color: white;

}
.middle_navbar div nav ul li button {
    width: 10rem;
}
#event-grid {
    color: #442900;
}